---
import { Image } from "astro:assets";
import Text from "@/components/fundations/elements/Text.astro";
import readingTime from "reading-time";

const post = Astro.props.post;
const compact = Astro.props.compact ?? false;
const { url, title, image, pubDate, tags } = {
  url: "/blog/" + (post.slug || post.id),
  tags: post.data.tags ?? [],
  title: post.data.title,
  image: post.data.image?.url || null,
  pubDate: new Date(post.data.pubDate).toLocaleDateString("en-US", {
    year: "numeric",
    month: "long",
    day: "2-digit",
  }),
};

const stats = readingTime(post.body ?? "");
---

<article class="relative group">
  <a href={url} title={title} class="absolute inset-0 z-10"> </a>
  <div class="flex flex-col gap-3">
    {image
      ? <Image src={image} alt={title} width={800} height={800} loading="eager" decoding="async" class={`object-cover w-full rounded-lg object-top ${compact ? "aspect-[5/2]" : "aspect-12/8"}`} />
      : <div class={`w-full rounded-lg bg-base-100 ${compact ? "aspect-[5/2]" : "aspect-12/8"}`} />
    }
    <div class="flex flex-col justify-between h-full">
      <Text
        tag="h3"
        variant={compact ? "textSM" : "textBase"}
        class="text-base-900 font-display group-hover:underline"
      >
        {title}
      </Text>
      <div class="flex items-center gap-x-2 text-base-600">
        <span>
          {
            tags.map((tag) => {
              const formattedTag = tag.replace(/-/g, " ");
              return (
                <Text
                  tag="p"
                  variant="textXS"
                  title={tag}
                  aria-label={tag}
                  class="capitalize"
                >
                  {formattedTag}
                </Text>
              );
            })
          }
        </span>
        <span>·</span>
        <Text tag="p" variant="textXS">
          <time datetime={pubDate}>{pubDate}</time>
          <span aria-hidden="true">·</span>
          {stats.text}
        </Text>
      </div>
    </div>
  </div>
</article>
